<h1>Choosing an Apprenticeship</h1>

<table>
  <tr>
    <th>Sector</th>
    <th>Type</th>
    <th>Small icon</th>
    <th>Sector image</th>
    <th>Job roles</th>
    <th>Salary</th>
    <th>Quals</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @types_of_apprenticeships.each do |types_of_apprenticeship| %>
  <tr>
    <td><%= types_of_apprenticeship.sector %></td>
    <td><%= types_of_apprenticeship.app_type %></td>
    <td><%= types_of_apprenticeship.small_icon %></td>
    <td><%= types_of_apprenticeship.sector_image %></td>
    <td><%= types_of_apprenticeship.job_roles %></td>
    <td><%= types_of_apprenticeship.salary %></td>
    <td><%= types_of_apprenticeship.quals %></td>
    <td><%= link_to 'Show', types_of_apprenticeship, :class => 'btn btn-mini'  %></td>
    <td><%= link_to 'Edit', edit_types_of_apprenticeship_path(types_of_apprenticeship), :class => 'btn btn-mini'  %></td>
    <td><%= link_to 'Destroy', types_of_apprenticeship, method: :delete, data: { confirm: 'Are you sure?', 
        },  :class => 'btn btn-mini btn-danger'  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Types of apprenticeship', new_types_of_apprenticeship_path, :class => 'btn btn-mini'  %>
