<p id="notice"><%= notice %></p>

<p>
  <b>Skills:</b>
  <%= @choosing_an_apprenticeship.skills %>
</p>

<p>
  <b>Travel:</b>
  <%= @choosing_an_apprenticeship.travel %>
</p>

<p>
  <b>Employers:</b>
  <%= @choosing_an_apprenticeship.employers %>
</p>

<p>
  <b>Qualifications:</b>
  <%= @choosing_an_apprenticeship.qualifications %>
</p>

<p>
  <b>Training:</b>
  <%= @choosing_an_apprenticeship.training %>
</p>

<p>
  <b>Money:</b>
  <%= @choosing_an_apprenticeship.money %>
</p>


<%= link_to 'Edit', edit_choosing_an_apprenticeship_path(@choosing_an_apprenticeship) %> |
<%= link_to 'Back', choosing_an_apprenticeships_path %>
