<h1>Listing employer_photos</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>Caption</th>
    <th>Employer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employer_photos.each do |employer_photo| %>
  <tr>
    <td><%= image_tag(employer_photo.photo.url.to_s, :size => "60x60") if employer_photo.photo  %></td>
    <td><%= truncate(employer_photo.caption, :length =>50, :separator => ' ') %></td>
    <td><%= employer_photo.employer_id %></td>
    <td><%= link_to 'Show', employer_photo %></td>
    <td><%= link_to 'Edit', edit_employer_photo_path(employer_photo) %></td>
    <td><%= link_to 'Destroy', employer_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employer photo', new_employer_photo_path %>
