<h1>Listing articles</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Title</th>
    <th>Small content</th>
    <th>Full content</th>
    <th>Discipline</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.type_id %></td>
    <td><%= article.title %></td>
    <td><%= article.small_content %></td>
    <td><%= article.full_content %></td>
    <td><%= article.discipline_id %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
<%= link_to "Json Feed", articles_path(:format => :json) %>
