	
<div class="field">
    <%= f.label :apprenticeship_type %><br />
    <%= f.text_field :apprenticeship_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description , :class => "redactor"%>
  </div>
  <div class="field">
    <%= f.label :job_role %><br />
    <%= f.text_field :job_role %>
  </div>
  <div class="field">
    <%= f.label :qualification %><br />
    <%= f.text_field :qualification %>
  </div>
  <div class="field">
    <%= f.label :salary %><br />
    <%= f.text_field :salary %>
  </div>

