
<%= form_for(@sector, :html => { :multipart => true }) do |f| %>
  <% if @sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% @sector.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :class => "input-xlarge" %>
  </div>

  <div class="field">
  <%= image_tag(@sector.app_types_image.url.to_s) if @sector.app_types_image.url  %>
  <%= f.label :app_types_image %>
  <%= f.label "Tag Cloud Image size must be 600x500px" %>
  <%= f.file_field :app_types_image %>
  </div>

  <div class="field" id ="employer_image">
  <%= image_tag(@sector.small_image.url.to_s) if @sector.small_image.url %>
    <%= f.label :small_image %> 
    <%= f.label "Scrollbar Image size must be 226x212px" %>
    <%= f.file_field :small_image %>
  </div>
  
  <div class="field">
    <%= f.label :sector_description %><br />
     <%= f.text_area :sector_description, :class => "redactor" %>
  </div>


  <div class="field">
    <%= f.label :print_description %><br />
     <%= f.text_area :print_description, :class => "redactor" %>
  </div>

 <div class="field">
    <%= f.label :qualities %><br />
    <%= f.text_field :qualities, :class => "input-xlarge" %>
  </div>

  <div class="field">
    <%= f.label :useful_contacts %><br />
     <%= f.text_area :useful_contacts, :class => "redactor" %>
  </div>

  <div class="actions">

   <%= f.submit   %>
<% end %>



