<h1>Listing sectors</h1>

<table>
  <tr>
        <th></th>

    <th>Title</th>
    <th></th>
        <th></th>
    <th>App types image</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sectors.each do |sector| %>
  <tr>
    <td><%= image_tag(sector.small_image.url, :size => "60x60") %></td>
    <td><%= sector.title %></td>
    <td><%#= sector.small_image %></td>
    <td><%#= sector.app_types_image %></td>
    <td><%= image_tag(sector.app_types_image.url, :size => "60x60") %></td>
    <td><%= link_to 'Show', sector, :class => "btn btn-mini" %></td>
    <td><%= link_to 'Edit', edit_sector_path(sector), :class => "btn btn-mini" %></td>
    <td><%= link_to 'Destroy', sector, method: :delete, data: { confirm: 'Are you sure?' },  :class => "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sector', new_sector_path %>
