<h1>What is an Apprenticeship</h1>

<table>
  <tr>
    <th>Description detail</th>
    <th>What is it like</th>
    <th>Why do one</th>
    <th>Qualifications</th>
    <th>Ten things</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

    <!-- image_tag(training_provider.logo_image.url.to_s, :size => "60x60") -->
    <!-- truncate(what_is_an_apprenticeship.ten_things, :length =>50, :separator => ' ') -->

<% @what_is_an_apprenticeships.each do |what_is_an_apprenticeship| %>
  <tr>
    <td><%= truncate(what_is_an_apprenticeship.description_detail, :length =>150, :separator => ' ') %></td>
    <td><%= truncate(what_is_an_apprenticeship.what_is_it_like, :length =>150, :separator => ' ') %></td>
    <td><%= truncate(what_is_an_apprenticeship.why_do_one, :length =>150, :separator => ' ') %></td>
    <td><%= truncate(what_is_an_apprenticeship.qualifications, :length =>150, :separator => ' ') %></td>
    <td><%= truncate(what_is_an_apprenticeship.ten_things, :length =>150, :separator => ' ') %></td>
    <td><%= link_to 'Show', what_is_an_apprenticeship, :class => "btn btn-mini"  %></td>
    <td><%= link_to 'Edit', edit_what_is_an_apprenticeship_path(what_is_an_apprenticeship), :class => "btn btn-mini" %></td>
    <td><%#= link_to 'Destroy', what_is_an_apprenticeship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%#= link_to 'New What is an apprenticeship', new_what_is_an_apprenticeship_path %>
