<p id="notice"><%= notice %></p>

<p>
  <b>Description detail:</b>
  <%= @what_is_an_apprenticeship.description_detail %>
</p>

<p>
  <b>What is it like:</b>
  <%= @what_is_an_apprenticeship.what_is_it_like %>
</p>

<p>
  <b>Why do one:</b>
  <%= @what_is_an_apprenticeship.why_do_one %>
</p>

<p>
  <b>Qualifications:</b>
  <%= @what_is_an_apprenticeship.qualifications %>
</p>

<p>
  <b>Ten things:</b>
  <%= @what_is_an_apprenticeship.ten_things %>
</p>


<%= link_to 'Edit', edit_what_is_an_apprenticeship_path(@what_is_an_apprenticeship) %> |
<%= link_to 'Back', what_is_an_apprenticeships_path %>
