<%= form_for(@employer, :html => {:multipart => true}) do |f| %>
  <% if @employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

      <ul>
      <% @employer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employer_name %><br />
    <%= f.text_field :employer_name %>
  </div>

   <div class="field">
     <%= image_tag(@employer.logo_image.url.to_s) if @employer.logo_image %>
    <%= f.label :logo_image %> 
    <%= f.label "Size must be 170x170 px" %> 
    <%= f.file_field :logo_image %>
  </div>

  

  <div class="field">
    <%#= render "regions" %>
         <%= hidden_field_tag "employer[region_ids][]", "" %>
     <ul>
      <% @regions.each do |region| %>
        <li>
          <%= check_box_tag "employer[region_ids][]", region.id, @employer.regions.include?(region) %>
          <%= h region.name %>
        </li>
      <% end %>
     </ul>
</div>

  <div class="field">
    <%#= render "regions" %>
         <%= hidden_field_tag "employer[sector_ids][]", "" %>
     <ul>
      <% @sectors.each do |sector| %>
        <li>
          <%= check_box_tag "employer[sector_ids][]", sector.id, @employer.sectors.include?(sector) %>
          <%= h sector.title %>
        </li>
      <% end %>
     </ul>
</div>

  <div class="field">
    <%= f.label :employer_description %><br />
    <%= f.text_area :employer_description , :class => "redactor"%>
  </div>
  <div class="field">
    <%= f.label :email_address %><br />
    <%= f.text_field :email_address %>
  </div>
  <div class="field">
    <%= f.label :contact_number %><br />
    <%= f.text_field :contact_number %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :web_address %><br />
    <%= f.text_field :web_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
