<h1>Listing employers</h1>
<p> </p>
<%= link_to 'New Employer', new_employer_path, :class =>"btn btn-mini" %>
<p> </p>

<table>
  <tr>
    <th>Employer name</th>
    <th>Logo image</th>
    <th>Logo image name</th>
    <th>Employer description</th>
    <th>Email address</th>
    <th>Contact number</th>
    <th>Position</th>
    <th>Web address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employers.each do |employer| %>
  <tr>
    <td><%= employer.employer_name %></td>
    <td><%= image_tag(employer.logo_image.url.to_s, :size => "60x60") %></td>
    <td><%= employer.logo_image_name %></td>
    <td><%= truncate(employer.employer_description, :length =>50, :separator => ' ') %></td>
    <td><%= employer.email_address %></td>
    <td><%= employer.contact_number %></td>
    <td><%= employer.position %></td>
    <td><%= employer.web_address %></td>
    <td><%= link_to 'Show', employer , :class => "btn btn-mini"%></td>
    <td><%= link_to 'Edit', edit_employer_path(employer) ,:class => "btn btn-mini"%></td>
    <td><%= link_to 'Destroy', employer, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

