<%= form_for(@apprenticeship_type) do |f| %>
  <% if @apprenticeship_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apprenticeship_type.errors.count, "error") %> prohibited this apprenticeship_type from being saved:</h2>

      <ul>
      <% @apprenticeship_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :sector_id %><br />
    <%= f.collection_select( :sector_id, Sector.all, :id, :title) %>

  </div>
  <div class="field">
    <%= f.label :apprenticeship_type %><br />
    <%= f.text_field :apprenticeship_type %>
  </div>


  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "redactor"%>
  </div>
  <div class="field">
    <%= f.label :job_role %><br />
    <%= f.text_field :job_role %>
  </div>
  <div class="field">
    <%= f.label :qualification %><br />
    <%= f.text_field :qualification %>
  </div>
  <div class="field">
    <%= f.label :salary %><br />
    <%= f.text_field :salary %>
  </div>

    <div class="field">
    <%= f.label :print_title %>
    <%= f.text_field :print_title %>
  </div>

  <div class="field">
    <%= f.label :print_salary %>
    <%= f.text_field :print_salary %>
  </div>

  <div class="field">
    <%= f.label :print_description %><br />
    <%= f.text_area :print_description%>
  </div>

    <div class="field">
    <%= f.label :print_qualification %><br />
    <%= f.text_area :print_qualification %>
  </div>


    <div class="field">
    <%= f.label :print_job_role %><br />
    <%= f.text_area :print_job_role%>
  </div>

    <div class="field">
    <%= f.label :issuing_authority %>
    <%= f.text_field :issuing_authority %>
  </div>

    <div class="field">
    <%= f.label :new %>
    <%= f.text_field :new %>
  </div>

  <div class="field">
    <%= f.label :revised %>
    <%= f.text_field :revised %>
  </div>

  <div class="field">
    <%= f.label :higher_apprenticeship %>
    <%= f.text_field :higher_apprenticeship %>
  </div>
  <!-- :print_title, :print_description, :print_qualification, :print_job_role,
  :issuing_authority, :new, :revised, :higher_apprenticeship, :print_salary
  -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
