<%= form_for(@apprenticeship_type) do |f| %>
  <% if @apprenticeship_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apprenticeship_type.errors.count, "error") %> prohibited this apprenticeship_type from being saved:</h2>

      <ul>
      <% @apprenticeship_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apprenticeship_type %><br />
    <%= f.text_field :apprenticeship_type %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :job_role %><br />
    <%= f.text_field :job_role %>
  </div>
  <div class="field">
    <%= f.label :qualification %><br />
    <%= f.text_field :qualification %>
  </div>
  <div class="field">
    <%= f.label :salary %><br />
    <%= f.text_field :salary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
