<p id="notice"><%= notice %></p>

<p>
  <b>Apprenticeship type:</b>
  <%= @apprenticeship_type.apprenticeship_type %>
</p>

<p>
  <b>Description:</b>
  <%= @apprenticeship_type.sector_description %>
</p>

<p>
  <b>Job role:</b>
  <%= @apprenticeship_type.job_role %>
</p>

<p>
  <b>Qualification:</b>
  <%= @apprenticeship_type.qualification %>
</p>

<p>
  <b>Salary:</b>
  <%= @apprenticeship_type.salary %>
</p>


<%= link_to 'Edit', edit_apprenticeship_type_path(@apprenticeship_type) %> |
<%= link_to 'Back', apprenticeship_types_path %>
