<h1>Listing How to Apply</h1>
<p></p>
<%= link_to 'New How to apply', new_how_to_apply_path , :class =>"btn btn-mini"%>
<p></p>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @how_to_applies.each do |how_to_apply| %>
  <tr>
    <td><%= how_to_apply.help_title %></td>

        <td><%= truncate(how_to_apply.content, :length =>100, :separator => ' ') %></td>

    <td><%= link_to 'Show', how_to_apply, :class =>"btn btn-mini" %></td>
    <td><%= link_to 'Edit', edit_how_to_apply_path(how_to_apply), :class =>"btn btn-mini" %></td>
    <td><%= link_to 'Destroy', how_to_apply, method: :delete, :class =>"btn btn-mini btn-danger" , data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

