<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @how_to_apply.help_title %>
</p>
<p>
  <b>Content:</b>
  <%= @how_to_apply.content %>
</p>


<%= link_to 'Edit', edit_how_to_apply_path(@how_to_apply) %> |
<%= link_to 'Back', how_to_applies_path %>
