<h1>Listing training_providers</h1>
<br />
<%= link_to 'New Training provider', new_training_provider_path , :class =>"btn btn-mini" %>
<br />
<br />

<table>
  <tr>
    <th>Provider name</th>
    <th>Region</th>
    <th>Logo image</th>
    <th>Provider description</th>
    <th>Email address</th>
    <th>Web address</th>
    <th>Contact number</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

    <!-- image_tag(training_provider.logo_image.url.to_s, :size => "60x60") -->
    <!-- truncate(training_provider.provider_description, :length =>50, :separator => ' ') -->

<% @training_providers.each do |training_provider| %>
  <tr>
    <td><%= training_provider.provider_name %></td>
    <td>
      <% training_provider.regions.each do |region| %>
            <%= region.name %><%= ", " unless training_provider.regions.last.name == region.name %>
      <% end %>
    </td>
    <td><%= image_tag(training_provider.logo_image.url.to_s, :size => "60x60") %></td>
    <td><%= truncate(training_provider.provider_description, :length =>50, :separator => ' ') %></td>
    <td><%= training_provider.email_address %></td>
    <td><%= training_provider.web_address %></td>
    <td><%= training_provider.contact_number %></td>
    <td><%= training_provider.position %></td>
    <td><%= link_to 'Show', training_provider , :class => "btn btn-mini" %></td>
    <td><%= link_to 'Edit', edit_training_provider_path(training_provider) , :class => "btn btn-mini" %></td>
    <td><%= link_to 'Destroy', training_provider, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-mini btn-danger"  %></td>
  </tr>
<% end %>
</table>

<br />

