<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apprenticeship</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet/less">
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 <div class="container">

	<div class="navbar">
    <div class="navbar-inner">
    <%= link_to 'Home', root_path , :class => "brand"%>
    <ul class="nav">
      <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
    <li>
    <%#= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
    </li>
      <% end %>
    <li class = "<%= 'active' if params[:controller] == 'how_to_applies' %>"><%= link_to 'How to Apply', how_to_applies_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'sectors' %>"><%= link_to 'Sectors', sectors_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'apprenticeship_types' %>"><%= link_to 'Types of Apprenticeships', apprenticeship_types_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'choosing_an_apprenticeships' %>"><%= link_to 'Choosing', choosing_an_apprenticeships_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'what_is_an_apprenticeships' %>"><%= link_to 'What is', what_is_an_apprenticeships_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'training_providers' %>"><%= link_to 'Training Providers', training_providers_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'employers' %>"><%= link_to 'Employers', employers_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'employer_photos' %>"><%= link_to 'Employer Photos', employer_photos_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'case_studies' %>"><%= link_to 'Case Studies', case_studies_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'careers' %>"><%= link_to 'Career Categories', careers_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'subjects' %>"><%= link_to 'School subjects', subjects_path %></li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>



    </ul>
    </div>
    </div>



<%= yield %>
 </div>  
 <!-- container -->
</body>
</html>
