<!DOCTYPE html>
<html lang="en">
<head>
  <title>Apprenticeship</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>

 <div class="container">

	<div class="navbar">
    <div class="navbar-inner">
    <%= link_to 'Home', root_path , :class => "brand"%>
    <ul class="nav">
    <li></li>
    <li class = "<%= 'active' if params[:controller] == 'sectors' %>"><%= link_to 'Types of Apprenticeship', sectors_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'controller1' %>"><%= link_to 'Training Providers', types_of_apprenticeships_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'choosing_an_apprenticeships' %>"><%= link_to 'Choosing One', choosing_an_apprenticeships_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'what_is_an_apprenticeships' %>"><%= link_to 'What is an Apprenticeship', what_is_an_apprenticeships_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'controller1' %>"><%= link_to 'How to apply', types_of_apprenticeships_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'controller1' %>"><%= link_to 'Employers', types_of_apprenticeships_path %></li>
    <li class = "<%= 'active' if params[:controller] == 'articles' %>"><%= link_to 'Articles', articles_path %></li>
    </ul>
    </div>
    </div>



<%= yield %>
 </div>
</body>
</html>
